<h2>Authorised!</h2>
<a href="/instagram/subscribe/user/<%= instagramId %>">subscribe to your posts</a>
<a href="/instagram/subscribe/tag/carnaby">subscribe to #carnaby</a>
<a href="/instagram/subscribe/geography/51.511877,-0.137411">subscribe to 51.511877, -0.137411</a>
